body {
    font-family:'Poppins', sans-serif;
    padding:0px;
    margin:0px;
    max-width:100vw;
    overflow-x:hidden;
    scroll-behavior: smooth;
    background-color: rgba(13, 15, 17, 1);
  
  }
  
  #top_part {
    width:100%;
    ;
  }
  #top_part tr td{
    width:50%;
  }
  #about {
    width:84% !important;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:left;
    padding:0px 8%;
    margin-bottom: 2rem;
  }
  #about h1 {
    font-size:45px;
    word-wrap:break-word;
    color: white;
    letter-spacing: 8px;
    
  }
  
  #about h2 {
   margin-bottom: 2vh;
   margin-top: 20px;
  
  }
  
  #about p {
    color: white;
    width: 70%;
    line-height: 35px;
    
  }
  
  #about h2 {
    color: rgba(75, 167, 54, 1);
  }
  
  .btn_one:hover {
    box-shadow:0px 10px 30px rgba(11, 111, 202, 1);
    cursor:pointer;
    color:#fff;
    background:rgba(11, 111, 202, 1);
  }
  #rightImage {
    width:100%;
    height:100vh;
    background: url("../img/charger.png");
    background-size:cover;
    background-repeat:no-repeat;
    background-size: 100vw;
  background-size: 85vh;
  }

  


#hover img.top:hover {
    opacity:0;
  }
  
  @media (max-width: 1000px){
    #photos {
    columns:1;
    column-gap:0%;
    }
    #photos img {
        margin:2% 0px;
    }
    #photos img:hover {
        transform: scale(1);
        cursor: pointer;
    }
    #rightImage {
        display:none;
    }
    #top_part {
        border:0px;
    }
    #top_part tr td{
        width:100%;
        text-align:center;
    }
    #about {
        width:92% !important;
        height:75vh;
        padding-top:20vh !important;
        text-align:center;
        padding:0px 4%;
    }
    #about table {
        width:100%;
        margin-top:6vh;
    }
    #about table tr td {
        text-align:center;
    }
    
   
  }
