@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family:'Poppins', sans-serif;
    padding:0px;
    margin:0px;
    max-width:100vw;
    overflow-x:hidden;
    scroll-behavior: smooth;
    background-color: rgba(13, 15, 17, 1);
    

}
#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(13, 15, 17, 1);
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#spinner {
    animation: rotate 0.56s infinite linear;
    width:50px;
    height:50px;
    border:12px solid rgba(0, 174, 187, 1);
    border-bottom:12px solid rgba(13, 15, 17, 1);
    border-radius:50%;
    margin:0;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
header {
    width:92vw;
    padding:6vh 4vw;
    position:fixed;
    font-weight:bold;
    background:transparent;
    color:#fff;
    transition:0.4s ease-in-out;
    z-index:2;
   
}
header table {
    width:100%;
}
#logo {
    width:20%;
}
#navigation {
    width:80%;
}
#magnify {
    width:100vw;
    height:100vh;
    background:rgba(13, 15, 17, 1);
    position:fixed;
    z-index:4;
    display:none;
    flex-direction: column;
    justify-content:center;
}
#magnify h1 {
    position:absolute;
    top:0;
    right:0;
    margin:20px 40px;
    color:rgba(13, 15, 17, 1);
    transition:0.4s ease-in-out;
}
#magnify h1:hover{
    color: rgba(0, 174, 187, 1);
    cursor:pointer;
}
#img_here {
    width:90%;
    height:90%;
    background-size:contain;
    background-repeat:no-repeat;
    margin:0px auto;
}
#logo {
    font-size:24px;
    color:white;
}
#navigation {
    text-align:right;
}
#navigation a {
    color:inherit;
    text-decoration:none;
    padding:5px 10px;
    border-bottom:2px solid transparent;
    margin-left:4vw;
    transition:0.4s ease-in-out;
}
#navigation a:hover{
    border-bottom:2px solid #fff;
}
#top_part {
    width:100%;
    ;
}
#top_part tr td{
    width:50%;
}
#about {
    width:84% !important;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:left;
    padding:0px 8%;
}
#about h1 {
    font-size:45px;
    word-wrap:break-word;
    color: white;
    letter-spacing: 8px;
}

#about h2 {
   margin-bottom: 10vh;
   margin-top: -10px;
}

#about p {
    color: white;
    width: 75%;
    line-height: 30px;
}

#about h2 {
    color: rgba(0, 174, 187, 1);
}

.btn_one {
    font-size:18px;
    font-family: 'Poppins', sans-serif;
    color:white;
    background:rgba(0, 174, 187, 1);
    border:3px solid rgba(0, 174, 187, 1);
    padding:8px 40px;
    width:20%;
    border-radius:80px;
    font-weight:bold;
    margin:2vh 0px;
    transition:0.4s ease-in-out;
    text-decoration: none;
}
.btn_one:hover {
    box-shadow:0px 10px 30px rgba(0, 174, 187, 1);
    cursor:pointer;
    color:#fff;
    background:rgba(0, 174, 187, 1);
}
#rightImage {
    width:100%;
    height:100vh;
    background:url(./img/bildestart.png) center center;
    background-size:cover;
    background-repeat:no-repeat;
}
#work {
    width:92vw;
    padding:6vh 4vw;
    font-weight:bold;
}
#work h1 {
    padding:5px 0px;
    border-bottom:4px solid rgba(0, 174, 187, 1);
    width:6%;
    color: white;
}

.s2 {
    margin-bottom: 1.5rem;
}

.s2 h3 {
    padding-top: 30%;
    font-size: 2rem;
    margin: 0;
    font-weight: 500;

}

.s2 p {

    font-size: 1rem;
}

.s2 .tekst {
    text-align: center;
    color: white;
    opacity: 0;
    height: 500px;
    width: 600px;
    transition: 1.5s ease-out;
}

.tekst a {
    color: rgb(252, 252, 252);
    transition: 1.5s ease-out;
}

.tekst a:hover {
    color: rgb(109, 109, 109);
}

.s2 .tekst:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.664);
}

.s2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 70px;
}

.s2 .one {
    background-image: url("img/aftenpostenflere.png");
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 600px;
    border-radius: 10px;

}

.s2 .four{
    background-image: url("img/apenhet1.png");
    background-position: center;
    height: 500px;
    width: 600px;
    border-radius: 10px;
    background-color: darkgray;
    background-size: 80vw;
    background-size: 80vh;
    
    
}

.s2 .two {
    background-image: url("img/apenhet2.png");
    background-position: center;
    height: 500px;
    width: 600px;
    background-size: 80vw;
    background-size: 80vh;
    border-radius: 10px;
}

.s2 .three {
    background-image: url("img/stottekampanje.png");
    background-position: center;
    background-size: cover;
    background-size: 0vw;
    background-size: 90vh;
    height: 500px;
    width: 600px;
    border-radius: 10px;
    background-repeat: none;
}


#contact {
    width:92vw;
    padding:6vh 4vw;
}
#contact h1 {
    padding:5px 0px;
    border-bottom:4px solid rgba(0, 174, 187, 1);
    width:10%;
    color: white;
}
#contact table {
    width:100%;
    color: white;
}
#contact table tr td {
    width:50%;
}
#inner_div table{
    width:100%;
}
#inner_div table tr td{
    font-weight:bold;
}
#inner_table tr td{
    padding:10px 20px !important;
}

.link {
    color: white;
    list-style-type: none;
    color: rgba(0, 174, 187, 1);
}

#footer {
    width:100%;
    padding:10vh 0px;
    text-align:center;
    font-weight:bold;
    color: white;
}
#footer a {
    color:rgba(0, 174, 187, 1);
    text-decoration:none;
}
::placeholder {
    color:black;
}
button:focus {
    outline:none;
}
::-webkit-scrollbar {
    width:5px;
    height:5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0,0.8); 
}

@media (max-width: 1000px){
    #photos {
    columns:1;
    column-gap:0%;
    }
    #photos img {
        margin:2% 0px;
    }
    #photos img:hover {
        transform: scale(1);
        cursor: pointer;
    }
    #rightImage {
        display:none;
    }
    #top_part {
        border:0px;
    }
    #top_part tr td{
        width:100%;
        text-align:center;
    }
    #about {
        width:92% !important;
        height:75vh;
        padding-top:20vh !important;
        text-align:center;
        padding:0px 4%;
    }
    #about table {
        width:100%;
        margin-top:6vh;
    }
    #about table tr td {
        text-align:center;
    }
    .btn_one {
    padding:6px 30px;
    width:60%;
    margin:4vh auto;
    box-shadow:0px 10px 20px rgba(0, 174, 187, 1);
    background:rgba(0, 174, 187, 1);
    color:#fff;
    }
    .btn_one:hover {
        box-shadow:0px 10px 40px rgba(0, 174, 187, 1);
        cursor:pointer;
    }
    #contact table tr td {
        width:100%;
        display:block;
    }
    #inner_table tr td{
        padding:10px 0px !important;
    }
    #contact form input {
        width:90%;
    }
    #contact form textarea {
        width:90%;
    }
    #work h1 {
        width:19%;
        
    }
    #bio h1 {
        width:25%;
    }
    #contact h1 {
        width:33%;
    }
    header {
        width:96vw;
        background:white;
        padding:4vh 2vw;
        position:absolute;
    }
    #header table tr td {
        width:100%;
        display:block;
        text-align:center;
        padding:15px 0px;
    }
    #navigation a {
        color:white;
    }
}